/* Color variables */
$general-white: #ffffff;
$general-blue: #0282f9;
$header-text: #4d4a47;
$main-bg: #1c1c1c;
$footer-bg: #303030;
$footer-text: #686868;

/* Font variables */
$antonio: "Antonio", sans-serif;
$anton: "Anton", sans-serif;
