/* Color variables */
$general-white: #FFFFFF;
$general-blue: #0282F9;
$header-text: #4D4A47;
$main-bg: #1C1C1C;
$footer-bg: #303030;
$footer-text: #686868;

/* Font variables */
$antonio: "Antonio", sans-serif;
$anton: "Anton", sans-serif;